body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #5c4f4f;
}
.form-container {
    max-width: 150px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 50px;
}
/* SELECT */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/* DATALIST */


label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}
#ciudad {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}