.flexbox {
  border: 1px solid black;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.flex-item {
  height: 50px;
  background-color: #800;
  font-size: 45px;
  color: white;
  margin: 1px;
  text-align: center;
}
.flex-item:first-child {
  background-color: #f77;
  flex-grow: 1;
}

/* FLEX GLOW */
.container-glow {
  display: flex;
  border: 2px solid #000;
  padding: 10px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.box-glow {
  padding: 20px;
  margin: 5px;
  text-align: center;
  background-color: red;
  color: aliceblue;
  font-size: 45px;
}
.boxG1 {
  flex-grow: 2;
}
.boxG2 {
  flex-grow: 0;
}
.boxG3 {
  flex-grow: 2;
}
/* FLEX BASIS */
.container-basis {
  padding: 10px;
  margin: 20px;
  border: 2px solid #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.box-basis {
  margin: 5px;
  padding: 20px;
  background-color: red;
  text-align: center;
  color: aliceblue;
  font-size: 45px;
  flex-basis: 200px;
  box-sizing: border-box;
}

/* FLEX SHRINK */
.container-shrink {
  display: flex;
  border: 2px solid #000;
  justify-content: start;
  align-items: center;
  gap: 5px;
}
.box-shrink {
    margin: 5px;
    padding: 20px;
    background-color: red;
    text-align: center;
    color: aliceblue;
    font-size: 45px;
    flex-basis: 400px;
}
.boxS1 {
  flex-shrink: 0;
}
.boxS2 {
  flex-shrink: 2;
}
.boxS3 {
  flex-shrink: 0;
}
