.grid{
    display: grid;
    grid-template-columns:repeat(3,200px);
    grid-template-rows: repeat(3,200px) ;

    gap: 10px 20px;
    padding: 20px;
}
.grid-item{
    background-color: #1f9;
    text-align: center;
    font-size: 50px;
}
