details{
    background-color: red;
    border: 1px solid #ddd;
    padding: 9px;
    font-size: 0.7em;
    color: #fff;
}
summary{
    font-size: 1em;
    color: yellow;
}
ul{
    font-weight: 100;
    color: white;
}




/* details[open]{
    border: 1px solid #ddd;
    font-weight: bold;
} */